<h1><%= @garment.name.capitalize %></h1>
  <table>
    <thead>
      <td>
        Color
      </td>
      <td>
        Material
      </td>
      <td>
        Price
      </td>
      <td>
        Cool?
      </td>
    </thead>
    <tbody>
      <td>
        <%= @garmnet.color %>
      </td>
      <td>
        <%= @garment.material %>
      </td>
      <td>
        <%= @garment.price %>
      </td>
      <td>
        <%= @garment.cool %>
      </td>
    </tbody>
  </table>
